<div id="sliderImagenes" class="carousel carousel-dark slide ">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#sliderImagenes" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#sliderImagenes" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#sliderImagenes" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    @{
        int cont = 0;
    }
    <div class="carousel-inner">
        @foreach (var item in Model.Sliders)
        {
            var itemDinamico = cont++ == 0 ? "active" : "";

            @if (item.Estado == true)
            {
                <div class="carousel-item @itemDinamico" data-bs-interval="2000">
                    <img src="@Url.Content(item.UrlImagen)" class="d-block w-100" alt="..." style="width:600px;height:600px;">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="text-white text-center bg-dark py-1">@Html.Raw(@item.Nombre)</h1>
                        <p>""</p>
                    </div>
                </div>
            }

        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#sliderImagenes" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="xvisually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sliderImagenes" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="xvisually-hidden-focusable">Next</span>
    </button>
</div>

